.country-virtual-scroll {
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.country-grid {
  display: flex;
  flex-direction: column;
}

.card-wrapper-overlay {
  margin: 12px;
  width: 20vw;
  height: 25vh;
}
