<div class="country-list-page">
  <div class="filters-bar">
    <form [formGroup]="filterForm">
      <div class="filter-row">
        <div class="filter-item">
          <app-p-input-text
            [value]="filterForm.get('search')!.value ?? ''"
            placeholder="Search countries..."
            (valueChange)="filterForm.get('search')!.setValue($event)">
          </app-p-input-text>
        </div>

        <div class="filter-item">
          <app-p-dropdown
            [options]="regions"
            [value]="filterForm.get('region')!.value ?? ''"
            placeholder="All Regions"
            optionLabel="label"
            optionValue="value"
            [showClear]="true"
            (valueChange)="filterForm.get('region')!.setValue($event)">
          </app-p-dropdown>
        </div>

        <div class="filter-item">
          <app-p-dropdown
            [options]="sortOptions"
            [value]="filterForm.get('sortBy')!.value ?? ''"
            placeholder="Sort By"
            optionLabel="label"
            optionValue="value"
            (valueChange)="filterForm.get('sortBy')!.setValue($event)">
          </app-p-dropdown>
        </div>

        <div class="filter-item">
          <button class="clear-btn" (click)="clearFilters()">Clear Filters</button>
        </div>
      </div>
    </form>
  </div>

  <div class="results-info">
    <span>{{ filteredCountries().length }} countries found</span>
  </div>
  @if(error()){
    <div class="error-message">
      <p>{{ error() }}</p>
    </div>
  }

  <ng-template  #countriesLoaded>
    <div class="country-grid">
      <!-- @for(country of filteredCountries(); track country.name.common){ -->
    <cdk-virtual-scroll-viewport itemSize="50" class="country-virtual-scroll">
      <div class="card-wrapper-overlay" *cdkVirtualFor="let country of filteredCountries(); trackBy: trackByCountryName">
        <app-country-card
          [country]="country">
        </app-country-card>
        <input class="checkbox-overlay" type="checkbox" name="compare" 
        [checked]="isCountrySelected(country)"
        (change)="onCompareChecked(country, $event)"
        [disabled]="isCompareDisabled(country)"
        />
      </div>
      </cdk-virtual-scroll-viewport>
    <!-- } -->
    </div>
  </ng-template>

  @if(loading()){
    <div class="loading">
    <p>Loading countries...</p>
  </div>
  }@else{
     <ng-container *ngTemplateOutlet="countriesLoaded"></ng-container>
  }
  

  @if(countriesToCompare().length>0){
  <div class="compare-countries">
      <div class="compare-flags">
        @if(countriesToCompare().length >=3){
          <p>You cannot compare more than 3 countries at a time </p>
        }
      @for(country of countriesToCompare(); track country.name.common){
         <img class="compare-flag-img" [src]="country.flags.png" [alt]="'flag of '+country.name.common" />
      }
      </div>
      <button class="compare-btn" (click)="compareCountries()" [disabled]="countriesToCompare().length<2">Compare Countries</button>
  </div>
}
</div>
